

<div class ="container">
  <%= render @post %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) , class:"btn btn-primary"%> |
    <%= link_to "Back to posts", posts_path , class:"btn btn-primary" %>
    <p>
    <%= button_to "Destroy this post", @post, method: :delete , class:"btn btn-secondary"  %>
    </p>
  </div>
</div>

<div class="container">
  <% @comments.each do |comment|%>
    <%= render "comments/comment", post: @post, comment: comment %>
  <%end%>
  <%if current_user%>
    <%= render "comments/form", post: @post, comment: @post.comments.build , submit_label: "Reply"%>
  <%else%>
    
    <strong class="container "> you need to be 
      <div class="badge bg-primary text-wrap">
        <%= link_to "Logged in" , new_user_session_path, class:"link-light"%>
      </div> to write a comment or sign 
      <div class="badge bg-primary text-wrap">
        <%= link_to "Here" , new_user_registration_path, class:"link-light"%>
      </div> to write a comment or sign 
    </strong>
    
  <%end%>
</div>
