

<div class ="container">
  <%= render @post %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) , class:"btn btn-primary"%> |
    <%= link_to "Back to posts", posts_path , class:"btn btn-primary" %>
    <p>
    <%= button_to "Destroy this post", @post, method: :delete , class:"btn btn-secondary"  %>
    </p>
  </div>
</div>

<div class="container">
  <% @comments.each do |comment|%>
    <%= render "comments/comment", post: @post, comment: comment%>
  <%end%>
  <%= render "comments/form", post: @post%>
</div>
